
 <!--Home component, Login component and registration component navbar-->
<nav class="navbar navbar-inverse navClass">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink] = '["/login"]'>Q&ABag</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive = "active"><a [routerLink] = "['/login']">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive = "active" ><a [routerLink] = "['/registration']"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      <li routerLinkActive = "active" ><a [routerLink] = "['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
